
.signup-container {
  display: flex;
  margin-top: 70px;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* border: 2px solid red; */
}

.signup-title {
  color: #000;
  font-size: 2rem;
  margin-bottom: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.signup-input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem;
}

.signup-button {
  background-color: red;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #ff0000;
}

.signup-error {
  color: red;
  margin-top: 10px;
}

.signup-login-link {
  color: #000;
  margin-top: 20px;
}

.signup-login-link a {
  color: #ff0000;
  text-decoration: none;
}

.google-signup-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.google-signup-button {
  background: #047723;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.google-signup-button:hover {
  opacity: 0.8;
}

